# Final Project: Black Friday Excel Data

## Part 1

First, read in maven_ski_shop_data.xlsx

Then, assign the orders worksheet to an intuitive variable name.

In [2]:
import pandas as pd
import openpyxl

print("Libraries are working!")

Libraries are working!

In [4]:
file_path = r'C:\Users\admin\Desktop\maven_ski_shop_data.xlsx'  # Raw string
data = pd.read_excel(file_path)

# Display the first few rows of the data
print(data.head())

   Product_ID Product_Name  Price   Cost        Available Sizes  Euro Price  \
0       10001       Coffee   5.99   0.99                  250mL        5.27
1       10002       Beanie   9.99   4.29           Child, Adult        8.79
2       10003       Gloves  19.99   7.99           Child, Adult       17.59
3       10004   Sweatshirt  24.99  10.59  XS, S, M, L , XL, XXL       21.99
4       10005       Helmet  99.99  49.99           Child, Adult       87.99

   GBP Price  JPY Price
0       4.55     736.77
1       7.59    1228.77
2      15.19    2458.77
3      18.99    3073.77
4      75.99   12298.77

In [5]:
# Load the specific sheet named 'Orders_Info' and assign an intuitive variable name
df_orders = pd.read_excel(file_path, sheet_name='Orders_Info')

# Display the first few rows to confirm
print(df_orders.head())

   Order_ID Customer_ID  Order_Date  Subtotal  Tax  Total    Location  \
0    100000      C00004  11/26/2021     15.98  NaN    NaN  Sun Valley
1    100001      C00007  11/26/2021    899.97  NaN    NaN       Stowe
2    100002      C00015  11/26/2021    799.97  NaN    NaN     Mammoth
3    100003      C00016  11/26/2021    117.96  NaN    NaN       Stowe
4    100004      C00020  11/26/2021      5.99  NaN    NaN  Sun Valley

                Items_Ordered
0                10001, 10002
1         10008, 10009, 10010
2         10011, 10012, 10013
3  10002, 10003, 10004, 10006
4                       10001

### Column Printer Function

Since we'll be working with Excel frequently, let's create a helper function to print all the rows a specified column.

This will help us view imported data without looking at Excel, and review the data we've written into columns without needing to save a file to review the changes.

Your function should take two arguments:

* Worksheet where data is located
* Column Letter of data to print

Your function should:

* Print Cell Coordinate (e.g. A1, D4).
* Print the contents of the cell.

Then call your function twice:

* Once to print Order ID (column A in 'Orders_Info')
* Once to print subtotal (column D in 'Orders_Info')

In [6]:
def column_printer(dataframe, column_letter):
    """
    Prints cell coordinates and contents for a specific column.

    Args:
    dataframe (pd.DataFrame): The DataFrame containing the data.
    column_letter (str): The letter of the column to print (e.g., 'A', 'D').

    """
    # Map column letters to column indices (e.g., A -> 0, B -> 1)
    column_index = ord(column_letter.upper()) - ord('A')  # Convert column letter to zero-based index

    # Iterate through the rows of the DataFrame
    for row_index in range(len(dataframe)):
        # Generate cell coordinate (e.g., A1, A2)
        cell_coordinate = f"{column_letter}{row_index + 1}"  # Add 1 to row_index to match Excel row numbers

        # Get the value in the specified column
        cell_value = dataframe.iloc[row_index, column_index]

        # Print the coordinate and value
        print(f"{cell_coordinate}: {cell_value}")

In [7]:
# Print Order_ID (Column A)
print("Order_ID Column:")
column_printer(df_orders, "A")

Order_ID Column:
A1: 100000
A2: 100001
A3: 100002
A4: 100003
A5: 100004
A6: 100005
A7: 100006
A8: 100007
A9: 100008
A10: 100009
A11: 100010
A12: 100011
A13: 100012
A14: 100013
A15: 100014
A16: 100020
A17: 100021
A18: 100022
A19: 100023
A20: 100024
A21: 100025
A22: 100026
A23: 100027
A24: 100031
A25: 100032
A26: 100033
A27: 100034

In [8]:
# Print Subtotal (Column D)
print("\nSubtotal Column:")
column_printer(df_orders, "D")

Subtotal Column:
D1: 15.98
D2: 899.97
D3: 799.97
D4: 117.96
D5: 5.99
D6: 599.99
D7: 24.99
D8: 1799.94
D9: 99.99
D10: 254.95
D11: 29.98
D12: 99.99
D13: 25.98
D14: 649.98
D15: 89.99
D16: 119.99
D17: 599.99
D18: 649.98
D19: 24.99
D20: 99.99
D21: 99.99
D22: 5.99
D23: 24.99
D24: 999.96
D25: 99.99
D26: 399.97
D27: 89.99

### Order Data Dictionary

Create a dictionary with all of the information contained in the 'Orders_Info' Worksheet.

* The dictionary keys should be Order IDs (Column A)
* The values should a list storing the data in the rest of the columns.
* The columns in the list stored as values should be B, C, D, G, and H (after converting to list). 
* For example: The first order, column H should be the nested list: [10001, 10002]


A few notes:

* Convert the Items_Ordered field into a list (we covered a helpful string method for this)
* This can be done with a dictionary comprehension
* DO NOT INCLUDE EXCEL COLUMN HEADERS

In [12]:
# Check and replace with the correct column name
order_data_dict = {
    row['Order_ID']: [
        row['Customer_ID'],               # Column B
        row['Order_Date'],                # Column C
        row['Subtotal'],                  # Column D
        row['Location'],                  # Column G
        [int(item) for item in str(row['Items_Ordered']).split(", ") if pd.notna(row['Items_Ordered'])]
    ]
    for _, row in df_orders.iterrows()
}

# Print the resulting dictionary
print(order_data_dict)

{100000: ['C00004', '11/26/2021', 15.98, 'Sun Valley', [10001, 10002]], 100001: ['C00007', '11/26/2021', 899.97, 'Stowe', [10008, 10009, 10010]], 100002: ['C00015', '11/26/2021', 799.97, 'Mammoth', [10011, 10012, 10013]], 100003: ['C00016', '11/26/2021', 117.96, 'Stowe', [10002, 10003, 10004, 10006]], 100004: ['C00020', '11/26/2021', 5.99, 'Sun Valley', [10001]], 100005: ['C00010', '11/26/2021', 599.99, 'Mammoth', [10010]], 100006: ['C00006', '11/26/2021', 24.99, 'Mammoth', [10004]], 100007: ['C00001', '11/26/2021', 1799.94, 'Mammoth', [10008, 10008, 10009, 10009, 10009, 10010, 10010]], 100008: ['C00003', '11/26/2021', 99.99, 'Sun Valley', [10005]], 100009: ['C00014', '11/26/2021', 254.95, 'Sun Valley', [10002, 10003, 10004, 10006, 10007]], 100010: ['C00001', '11/26/2021', 29.98, 'Mammoth', [10002, 10003]], 100011: ['C00001', '11/26/2021', 99.99, 'Mammoth', [10005]], 100012: ['C00005', '11/26/2021', 25.98, 'Sun Valley', [10001, 10003]], 100013: ['C00008', '11/26/2021', 649.98, 'Stowe', [10012, 10013]], 100014: ['C00013', '11/26/2021', 89.99, 'Sun Valley', [10014]], 100020: ['C00004', '11/27/2021', 119.99, 'Sun Valley', [10007]], 100021: ['C00017', '11/27/2021', 599.99, 'Stowe', [10010]], 100022: ['C00019', '11/27/2021', 649.98, 'Sun Valley', [10012, 10013]], 100023: ['C00002', '11/27/2021', 24.99, 'Stowe', [10004]], 100024: ['C00008', '11/27/2021', 99.99, 'Stowe', [10005]], 100025: ['C00021', '11/27/2021', 99.99, 'Mammoth', [10008]], 100026: ['C00022', '11/27/2021', 5.99, 'Sun Valley', [10001]], 100027: ['C00006', '11/28/2021', 24.99, 'Mammoth', [10002]], 100031: ['C00018', '11/28/2021', 999.96, 'Stowe', [10005, 10008, 10009, 10010]], 100032: ['C00018', '11/28/2021', 99.99, 'Stowe', [10006]], 100033: ['C00010', '11/28/2021', 399.97, 'Mammoth', [10005, 10008, 10009]], 100034: ['C00016', '11/28/2021', 89.99, 'Stowe', [10014]]}

### Sales Tax Calculation (Last time!)

We need to calculate the sales tax and total amount owed for every order in this sheet.

* If location is Sun Valley, apply a sales tax of 8%
* If location is Mammoth, apply a sales tax of 7.75%.
* If location is Stowe, apply a sales tax of 6%

Use the tax_calculator function to apply sales tax to each subtotal.

**Insert** the calculated sales tax and total amounts into your customer dictionary immediately after subtotal.

**Tip**: Figure out how to do this once and then loop through the column.

In [13]:
def tax_calculator(subtotal, tax_rate):
    """
    Calculate the tax amount and total based on the subtotal and tax rate.

    Args:
    subtotal (float): The subtotal amount.
    tax_rate (float): The tax rate as a decimal (e.g., 0.08 for 8%).

    Returns:
    tuple: The tax amount and the total (subtotal + tax).
    """
    tax_amount = subtotal * tax_rate
    total = subtotal + tax_amount
    return tax_amount, total

In [14]:
# Define the tax rates for each location
tax_rates = {
    'Sun Valley': 0.08,
    'Mammoth': 0.0775,
    'Stowe': 0.06
}

# Create new columns for Tax and Total
df_orders['Tax'] = 0.0
df_orders['Total'] = 0.0

# Loop through each order and calculate tax/total
for index, row in df_orders.iterrows():
    location = row['Location']
    subtotal = row['Subtotal']
    
    # Get the tax rate for the location
    tax_rate = tax_rates.get(location, 0.0)  # Default to 0.0 if location is not found

    # Calculate tax and total
    tax, total = tax_calculator(subtotal, tax_rate)

    # Update the DataFrame
    df_orders.at[index, 'Tax'] = tax
    df_orders.at[index, 'Total'] = total

In [15]:
# Update the order_data_dict with Tax and Total
for order_id, values in order_data_dict.items():
    subtotal = values[2]  # Subtotal is the third value in the list
    location = values[3]  # Location is the fourth value in the list

    # Get the tax rate for the location
    tax_rate = tax_rates.get(location, 0.0)

    # Calculate tax and total
    tax, total = tax_calculator(subtotal, tax_rate)

    # Insert tax and total into the dictionary (after Subtotal)
    values.insert(3, tax)  # Insert tax after subtotal
    values.insert(4, total)  # Insert total after tax

In [16]:
#verify the updated dataframe
print(df_orders.head())

   Order_ID Customer_ID  Order_Date  Subtotal        Tax       Total  \
0    100000      C00004  11/26/2021     15.98   1.278400   17.258400
1    100001      C00007  11/26/2021    899.97  53.998200  953.968200
2    100002      C00015  11/26/2021    799.97  61.997675  861.967675
3    100003      C00016  11/26/2021    117.96   7.077600  125.037600
4    100004      C00020  11/26/2021      5.99   0.479200    6.469200

     Location               Items_Ordered
0  Sun Valley                10001, 10002
1       Stowe         10008, 10009, 10010
2     Mammoth         10011, 10012, 10013
3       Stowe  10002, 10003, 10004, 10006
4  Sun Valley                       10001

In [17]:
#verify the updated dictionary
for order_id, values in order_data_dict.items():
    print(f"Order ID: {order_id}")
    print(f"Values: {values}")

Order ID: 100000
Values: ['C00004', '11/26/2021', 15.98, 1.2784, 17.2584, 'Sun Valley', [10001, 10002]]
Order ID: 100001
Values: ['C00007', '11/26/2021', 899.97, 53.9982, 953.9682, 'Stowe', [10008, 10009, 10010]]
Order ID: 100002
Values: ['C00015', '11/26/2021', 799.97, 61.997675, 861.967675, 'Mammoth', [10011, 10012, 10013]]
Order ID: 100003
Values: ['C00016', '11/26/2021', 117.96, 7.0775999999999994, 125.0376, 'Stowe', [10002, 10003, 10004, 10006]]
Order ID: 100004
Values: ['C00020', '11/26/2021', 5.99, 0.4792, 6.4692, 'Sun Valley', [10001]]
Order ID: 100005
Values: ['C00010', '11/26/2021', 599.99, 46.499225, 646.489225, 'Mammoth', [10010]]
Order ID: 100006
Values: ['C00006', '11/26/2021', 24.99, 1.9367249999999998, 26.926724999999998, 'Mammoth', [10004]]
Order ID: 100007
Values: ['C00001', '11/26/2021', 1799.94, 139.49535, 1939.43535, 'Mammoth', [10008, 10008, 10009, 10009, 10009, 10010, 10010]]
Order ID: 100008
Values: ['C00003', '11/26/2021', 99.99, 7.9992, 107.9892, 'Sun Valley', [10005]]
Order ID: 100009
Values: ['C00014', '11/26/2021', 254.95, 20.396, 275.346, 'Sun Valley', [10002, 10003, 10004, 10006, 10007]]
Order ID: 100010
Values: ['C00001', '11/26/2021', 29.98, 2.3234500000000002, 32.30345, 'Mammoth', [10002, 10003]]
Order ID: 100011
Values: ['C00001', '11/26/2021', 99.99, 7.749224999999999, 107.73922499999999, 'Mammoth', [10005]]
Order ID: 100012
Values: ['C00005', '11/26/2021', 25.98, 2.0784000000000002, 28.0584, 'Sun Valley', [10001, 10003]]
Order ID: 100013
Values: ['C00008', '11/26/2021', 649.98, 38.9988, 688.9788, 'Stowe', [10012, 10013]]
Order ID: 100014
Values: ['C00013', '11/26/2021', 89.99, 7.199199999999999, 97.1892, 'Sun Valley', [10014]]
Order ID: 100020
Values: ['C00004', '11/27/2021', 119.99, 9.5992, 129.5892, 'Sun Valley', [10007]]
Order ID: 100021
Values: ['C00017', '11/27/2021', 599.99, 35.9994, 635.9894, 'Stowe', [10010]]
Order ID: 100022
Values: ['C00019', '11/27/2021', 649.98, 51.998400000000004, 701.9784, 'Sun Valley', [10012, 10013]]
Order ID: 100023
Values: ['C00002', '11/27/2021', 24.99, 1.4993999999999998, 26.4894, 'Stowe', [10004]]
Order ID: 100024
Values: ['C00008', '11/27/2021', 99.99, 5.9994, 105.98939999999999, 'Stowe', [10005]]
Order ID: 100025
Values: ['C00021', '11/27/2021', 99.99, 7.749224999999999, 107.73922499999999, 'Mammoth', [10008]]
Order ID: 100026
Values: ['C00022', '11/27/2021', 5.99, 0.4792, 6.4692, 'Sun Valley', [10001]]
Order ID: 100027
Values: ['C00006', '11/28/2021', 24.99, 1.9367249999999998, 26.926724999999998, 'Mammoth', [10002]]
Order ID: 100031
Values: ['C00018', '11/28/2021', 999.96, 59.9976, 1059.9576, 'Stowe', [10005, 10008, 10009, 10010]]
Order ID: 100032
Values: ['C00018', '11/28/2021', 99.99, 5.9994, 105.98939999999999, 'Stowe', [10006]]
Order ID: 100033
Values: ['C00010', '11/28/2021', 399.97, 30.997675, 430.96767500000004, 'Mammoth', [10005, 10008, 10009]]
Order ID: 100034
Values: ['C00016', '11/28/2021', 89.99, 5.399399999999999, 95.3894, 'Stowe', [10014]]

### Write Sales Tax and Total Into the Excel Sheet


Great job! Now we just need to write this data into the workbook.

Write the sales tax and total you just calculated into the workbook, then save!

Call this workbook 'maven_ski_shop_data_fixed'.

**Tip:** There are a few ways to do this. As always, be patient, solve one step at a time.

In [18]:
import pandas as pd
from openpyxl import load_workbook

In [19]:
# Load the workbook
workbook = load_workbook(file_path)

# Select the worksheet
worksheet = workbook['Orders_Info']

In [20]:
# Find the starting row (skip the header row)
starting_row = 2  # Assuming the header is in row 1

# Write the data for Tax and Total
for index, row in df_orders.iterrows():
    tax_cell = f"H{starting_row + index}"  # Column H for Tax
    total_cell = f"I{starting_row + index}"  # Column I for Total

    # Calculated values to the corresponding cells
    worksheet[tax_cell] = row['Tax']
    worksheet[total_cell] = row['Total']

In [21]:
# Save the workbook with a new name
workbook.save("maven_ski_shop_data_fixed.xlsx")
print("Data written and saved successfully!")

Data written and saved successfully!

## Part 2

### Analysis Time!


Now that we've fixed the data - it's time to perform analysis on our sales.

Our starting point will be the order_dict we created, after we added the taxes and totals columns.

Our first step will be to write a function that calculates the sum of a 'column' of data in our dictionary.

A 'column' for example, would be subtotals, which is at index 2 in the list stored as our dictionary values.

Your function should take the following arguments:

* Column Index (the index of the data of interest in the list stored in our dictionary values)
* Dictionary Name

It should output:

* The sum of values in the column (rounded to two decimal places)

Assume only numeric values will be in the column (You can develop cleaning logic later :D)

**Tip:** Use a list comprehension to retrieve the values of interest.

In [ ]:
#Defining a function to sum a specific column in a dictionary
def sum_column(column_index, dictionary):
    """
    Calculate the sum of a specific column in a dictionary.

    Args:
    column_index (int): The index of the data in the list (e.g., 2 for subtotal).
    dictionary (dict): The dictionary containing the data.

    Returns:
    float: The sum of values in the column, rounded to two decimal places.
    """
    # Initialize the sum
    total_sum = 0

    # Iterate through the dictionary values
    for values in dictionary.values():
        total_sum += values[column_index]  # Add the value at the specified index

    # Return the rounded sum
    return round(total_sum, 2)

In [26]:
order_dict = {
    100000: ['C00004', '11/26/2021', 15.98, 1.28, 17.26, 'Sun Valley', [10001, 10002]],
    100001: ['C00007', '11/26/2021', 899.97, 71.998, 971.968, 'Stowe', [10008, 10009, 10010]],
    100002: ['C00015', '11/26/2021', 799.97, 63.998, 863.968, 'Mammoth', [10011, 10012, 10013]]
}

#### Sum The Subtotal, Tax, and Total Columns 

Now that we have our column sum function, calculate the sum of:

* Subtotals
* Taxes
* Totals

In [27]:
subtotal_sum = sum_column(2, order_dict)  # Index 2 corresponds to Subtotal
print(f"Total Subtotal: {subtotal_sum}")

Total Subtotal: 1715.92

In [28]:
tax_sum = sum_column(3, order_dict)  # Index 3 corresponds to Tax
print(f"Total Tax: {tax_sum}")

Total Tax: 137.28

In [29]:
total_sum = sum_column(4, order_dict)  # Index 4 corresponds to Total
print(f"Total Sales: {total_sum}")

Total Sales: 1853.2

### What is the average of our subtotals?

Calculate the average value of our transactions.

Remember that each entry in your dictionary is one order.

In [30]:
def calculate_average_subtotal(order_dict):
    """
    Calculate the average of the subtotals in the dictionary.

    Args:
    order_dict (dict): The dictionary containing order data.

    Returns:
    float: The average subtotal, rounded to two decimal places.
    """
    total_subtotal = sum(values[2] for values in order_dict.values())
    average_subtotal = total_subtotal / len(order_dict)
    return round(average_subtotal, 2)

# Calculate and print the average subtotal
average_subtotal = calculate_average_subtotal(order_dict)
print(f"Average Subtotal: {average_subtotal}")

Average Subtotal: 571.97

### How many unique customers did we have?

Calculate the total number of unique customers in our sales data.

Then calculate the number of orders per customer (total orders / unique customers)

In [31]:
def calculate_unique_customers(order_dict):
    """
    Calculate the total number of unique customers.

    Args:
    order_dict (dict): The dictionary containing order data.

    Returns:
    tuple: The number of unique customers and orders per customer.
    """
    # Extract unique customer IDs
    unique_customers = {values[0] for values in order_dict.values()}  # Index 0 is Customer_ID
    total_orders = len(order_dict)
    orders_per_customer = total_orders / len(unique_customers)
    return len(unique_customers), round(orders_per_customer, 2)

# Calculate and print unique customers and orders per customer
unique_customers, orders_per_customer = calculate_unique_customers(order_dict)
print(f"Number of Unique Customers: {unique_customers}")
print(f"Average Orders per Customer: {orders_per_customer}")

Number of Unique Customers: 3
Average Orders per Customer: 1.0

### How many items in total did we sell?

Calculate the total number of items we sold in across all orders. 

This information is in Column H, which should be the last element in order_dict's values.

In [32]:
def calculate_total_items(order_dict):
    """
    Calculate the total number of items sold across all orders.

    Args:
    order_dict (dict): The dictionary containing order data.

    Returns:
    int: Total number of items sold.
    """
    total_items = sum(len(values[-1]) for values in order_dict.values())  # Last element is the items list
    return total_items

# Calculate and print the total items sold
total_items = calculate_total_items(order_dict)
print(f"Total Items Sold: {total_items}")

Total Items Sold: 8

### Sales By Location

Calculate the sum of subtotals by location.

Create a dictionary to store them, where location is the key, and revenue for that location is the value.

A few steps to consider:

* Loop through your dictionary
* build a dictionary as you go with location as key
* increment revenue every time a transaction matches the location.


Your output should look like 
{'Location1': sum of subtotals for 'Location1'}

With an entry for each location.

In [33]:
def calculate_sales_by_location(order_dict):
    """
    Calculate the sum of subtotals by location.

    Args:
    order_dict (dict): The dictionary containing order data.

    Returns:
    dict: A dictionary with locations as keys and subtotal sums as values.
    """
    sales_by_location = {}

    for values in order_dict.values():
        location = values[5]  # Index 5 corresponds to Location
        subtotal = values[2]  # Index 2 corresponds to Subtotal

        # Add subtotal to the location's total
        if location in sales_by_location:
            sales_by_location[location] += subtotal
        else:
            sales_by_location[location] = subtotal

    return sales_by_location

# Calculate and print sales by location
sales_by_location = calculate_sales_by_location(order_dict)
print("Sales by Location:")
print(sales_by_location)

Sales by Location:
{'Sun Valley': 15.98, 'Stowe': 899.97, 'Mammoth': 799.97}

### Challenge: Aggregator Function

Now that you've summed revenue by category (you just summed by location), can you write a function to generalize calculating a sum of a column, grouped by the unique values in another column? (for example, sum of totals by date or customer_id).

Your function should take the following arguments:
* index of the 'column' (index position in order_dict) to group by
* index of the 'column' (index position in order_dict) to sum by category
* the dictionary where the data is located (assume the same structure as order_dict.

It should return:
* A dictionary with the categories as keys, and the sum by category as value.

Once you've done so use your function to sum totals by date and customer_id.

In [35]:
def aggregator(group_by_index, sum_index, order_dict):
    """
    Generalized function to sum values in one column grouped by another.

    Args:
    group_by_index (int): Index of the column to group by.
    sum_index (int): Index of the column to sum.
    order_dict (dict): Dictionary containing the data.

    Returns:
    dict: A dictionary with categories as keys and the sum of values as values.
    """
    aggregated_data = {}

    for values in order_dict.values():
        # Check if indices are within bounds
        if len(values) > max(group_by_index, sum_index):
            group_key = values[group_by_index]  # Extract the group key
            value_to_sum = values[sum_index]   # Extract the value to sum

            # Add value to the corresponding group
            if group_key in aggregated_data:
                aggregated_data[group_key] += value_to_sum
            else:
                aggregated_data[group_key] = value_to_sum
        else:
            print(f"Skipping row due to missing data: {values}")

    return aggregated_data

In [36]:
totals_by_location = aggregator(5, 7, order_dict)
print("Totals by Location:", totals_by_location)

Skipping row due to missing data: ['C00004', '11/26/2021', 15.98, 1.28, 17.26, 'Sun Valley', [10001, 10002]]
Skipping row due to missing data: ['C00007', '11/26/2021', 899.97, 71.998, 971.968, 'Stowe', [10008, 10009, 10010]]
Skipping row due to missing data: ['C00015', '11/26/2021', 799.97, 63.998, 863.968, 'Mammoth', [10011, 10012, 10013]]
Totals by Location: {}